body {
    background-image: url("../Images/Accueil.png");
    background-size: cover;
    color: white;
    font-family: 'Arial';
    margin-top: 5%;
}

image{
    position:fixed;
    width:100%;
    opacity: 0.8;
}
.VueAccueil{
    width:70%;
    margin:auto;
}

.loginForm {
    color: white;
    font: bold 18px/20px Arial, Sans-Serif;
    letter-spacing: 0px;
    padding: 10px;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(220,220,220,0.5);
    border-radius: 20px;
    position: absolute;
    top: 80px;
    width: 70%;
    margin:auto;
}

.VueInscription{
    color: white;
    font: 15px Arial, Sans-Serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(220,220,220,0.5);
    border-radius: 20px;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    padding: 20px 20px 20px 20px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    padding:4px 8px;
    background: #D3D3D3;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 8px;
    border-radius: 10px;
}
input[type=submit]:hover{
    opacity: 0.8;
}
.Mdp{
    padding: 5px;
    font-size:15px;
    font-family: Arial;
}
.MdpOublie{
    font-size:15px;
    font-family: Arial;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(220,220,220,0.5);
    border-radius: 20px;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    padding: 20px 20px 20px 20px;
}

.QuiSommeNous{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
    width:80%
    margin:auto;
    padding:10px;
}

.EnvoieMail{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
    margin-top: 150px;
}

.Connexion{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
    margin-top: 100px;
}

.ControleurPiece{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
    margin-top: 100px;
}

.VuePiece{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Message{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
    margin-top: 100px;
}

.TextsModifiables{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
    margin-top: 100px;
}

.ProfileClient{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
    margin-top: 100px;
}

.VueAccesMaison{
    color: #ffffff;
    font: Arial;
    font-size: 15px;

    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(220,220,220,0.5);
    border-radius: 20px;
    width:50%;
    margin:auto;
    padding-top: 10px;
}

.VueAccesPiece{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10%;
    color: #ffffff;
    font: Arial;
    font-size: 15px;
}

.VueAccesPiece_2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(220,220,220,0.5);
    border-radius: 20px;
    justify-content: space-between;
    padding:5px;
    width: 70%;
    margin:auto;
    padding: 0px 20px 0px 20px;
}

.VuePiece_Box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.VuePiece{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(220,220,220,0.5);
    border-radius: 20px;
    justify-content: space-between;
    width: 70%;
    margin:auto;
    padding: 0px 20px 20px 20px;
    height:30%;
    height: auto;
}

.header {
    background-color: rgba(131, 174, 193,0.9);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 10px;
    height: 10%;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Arial';
    font-weight: bold;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.header .header_barre {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

.header .header_barre {
    float:center;
    font: normal 30px Arial,sans-serif;
    line-height: 40px;
    margin: 0;
}

/* The header links */

.header .header_barre a {
    color: #ffffff;
    text-decoration: none;
}

.header .header_barre nav {
    font-weight: bold;
    font: 30px Arial, sans-serif;
    line-height: 40px;
    float: left;
    margin: 0 0 0 30px;
    padding: 0;
}

.header .header_barre nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration:none;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
}

/* The search box */

.header .header_barre form {
    float:right;
    position: relative;
    right: 30px;
    margin-left: 40px;
    border-radius: 3px;
    background-color:  #3a3c3e;
    width: 22px;
    height: 19px;
    cursor: pointer;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* CSS search icon */

.header .header_barre form:before {
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
}

.header .header_barre form:after {
    position: absolute;
    content: '';
    background-color: #ffffff;
    width: 1px;
    height: 4px;
    top: 13px;
    left: 13px;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.header .header_barre form input {
    display: none;
    position: absolute;
    right: 35px;
    padding: 11px 12px 9px;
    border: none;
    width: 210px;
    border-radius: 2px 0 0 2px;
    height: 19px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.barre_navigation {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.case1{
    list-style-type: none;
    float:right;
    width:10%;
}

.case1 a {
    display:block;
    color:white;
}

.footer{
    background-color: rgba(131, 174, 193,0.9);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 15px sans-serif;

    padding: 5px 10px;
    margin-top: 20px;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}

.footer .footer-left p{
    color:  #8f9296;
    font-size: 10px;
    margin: 0;
}

/* Footer links */

.footer p.footer-links{
    font-size:15px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer .footer-right{
    font-size: 10px;
    margin:0;
    color:#8f9296;
    text-align: right;
}

.footer .footer-right a{
    float:right;
    font-weight:bold;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
}

@media (max-width: 100px) {
    .header-search {
        padding: 15px;
        position: relative;
    }

    .header-search .header-limiter h1 {
        float:none;
        font-size: 25px;
        line-height: 1;
    }

    .header-search .header-limiter nav {
        text-align: center;
        float: none;
        margin: 0;
    }

    .header-search .header-limiter nav a {
        font-size: 13px;
    }

    .header-search .header-limiter form {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}
.PageContact{
    display: block;

    color: #ffffff;
    font: Arial;
    font-size: 15px;
    background-color: rgba(220,220,220,0.4);
    border-radius: 20px;
    padding-top: 5px;
    width:40%;
    margin:auto;
}



a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: white;
}

a:visited {
    color: #D3D3D3;
    opacity: 0.5;
}

a:focus {
    border-bottom: 1px solid;
    background: #808080;
}

a:hover {
    border-bottom: 1px solid;
    background: transparent;
}

a:active {
    background: #778899;
    color: #D3D3D3;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    outline: none;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    border-bottom: 1px solid;
    background: transparent;
    background: #808080;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}