body {
    background-image: url("../Images/Accueil.png");
    background-size: cover;
    color: black;
    font-family: 'Arial';
    margin-top: 5%;
}

image{
    position:fixed;
    width:100%;
    opacity: 0.8;
}
.loginForm {
    position: absolute;
    top: 200px;
    left: 0;
    width: 98%;
}
.loginForm {
    color: white;
    font: bold 18px/20px Arial, Sans-Serif;
    letter-spacing: 1px;
    padding: 10px;
}
.Inscription {
    position: absolute;
    top: 350px;
    left: 0;
    width: 98%;
}
.Inscription {
    color: white;
    font: 18px/20px Arial, Sans-Serif;
    letter-spacing: 1px;
    padding: 10px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    padding:8px 10px;
    background: #D3D3D3;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 12px;
}
input[type=submit]:hover{
    opacity: 0.8;
}
.Mdp{
    padding: 5px;
}

.QuiSommeNous{
    color: #ffffff;
    font: Arial;
    font-size: 15px;
}

.header {
    background-color:#292c2f;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 10px;
    height: 10%;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Arial';
    font-weight: bold;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.header .header_barre {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}


.header .header_barre {
    float:center;
    font: normal 30px Arial,sans-serif;
    line-height: 40px;
    margin: 0;
}

/* The header links */

.header .header_barre a {
    color: #ffffff;
    text-decoration: none;
}

.header .header_barre nav {
    font-weight: bold;
    font: 30px Arial, sans-serif;
    line-height: 40px;
    float: left;
    margin: 0 0 0 30px;
    padding: 0;
}

.header .header_barre nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration:none;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
}

/* The search box */

.header .header_barre form {
    float:right;
    position: relative;
    right: 30px;
    margin-left: 40px;
    border-radius: 3px;
    background-color:  #3a3c3e;
    width: 22px;
    height: 19px;
    cursor: pointer;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* CSS search icon */

.header .header_barre form:before {
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 2px solid #fff;
    width: 5px;
    height: 5px;
    top: 12px;
    left: 14px;
}

.header .header_barre form:after {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 1px;
    height: 4px;
    top: 22px;
    left: 26px;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.header .header_barre form input {
    display: none;
    position: absolute;
    right: 42px;
    padding: 11px 12px 9px;
    border: none;
    width: 210px;
    border-radius: 2px 0 0 2px;
    height: 19px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.footer{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 15px sans-serif;

    padding: 5px 10px;
    margin-top: 20px;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}

.footer .footer-left p{
    color:  #8f9296;
    font-size: 10px;
    margin: 0;
}

/* Footer links */

.footer p.footer-links{
    font-size:15px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer .footer-right{
    font-size: 10px;
    margin:0;
    color:#8f9296
}

.footer .footer-right a{
    float:right;
    font-weight:bold;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    margin: 0 0 10px;
    margin-left: 3px;
    padding:0;
}

@media (max-width: 100px) {
    .header-search {
        padding: 15px;
        position: relative;
    }

    .header-search .header-limiter h1 {
        float:none;
        font-size: 25px;
        line-height: 1;
    }

    .header-search .header-limiter nav {
        text-align: center;
        float: none;
        margin: 0;
    }

    .header-search .header-limiter nav a {
        font-size: 13px;
    }

    .header-search .header-limiter form {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}


a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: white;
}

a:visited {
    color: #D3D3D3;
}

a:focus {
    border-bottom: 1px solid;
    background: #808080;
}

a:hover {
    border-bottom: 1px solid;
    background: transparent;
}

a:active {
    background: #778899;
    color: #D3D3D3;
}
