
body {
    background-color : lightgoldenrodyellow;
    text-align: center;
    font-family:Avantgarde, sans-serif ;
    font-size: 20px;

}

header {
    background-color: black;
    color: white;
    font-family: 'Arial';
}
footer {
    background-color: black;
    color: white;
    font-family: 'Arial';

}

